/* 枠（container） */
.message-form-container {
  padding: 5px 0;
}

/* オブジェクトを構成する要素（content） */
/* label */
/* button */

/* オブジェクトの構造（structure） */
.message-form-structure {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

/* オブジェクトの見た目（skin） */
.message-form-skin {
  border-color: #F4F5F7;
}
