/* 日付を枠の高さいっぱいに */
.fc-content-skeleton, table, thead {
  height: 100%;
}

/* 日付を枠の中心に */
.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
  // float: right;をオーバーライド
  float: none;
}
.fc-day-number {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;

  /* min-height: 40px;以降はセルの高さ40pxに */
  @media only screen and (max-width: 615px) {
    height: 40px;
  }
}

/* 最小のセルの高さを40pxに固定 */
@media only screen and (max-width: 615px) {
  .fc-basic-view .fc-body .fc-row {
    min-height: 40px;
  }
}

/* 曜日の上下のスペースをあける */
div.fc-widget-header {
  padding: 5px 0;
}
