.fc-toolbar.fc-header-toolbar {
  margin: 1em 0;
  position: relative;
  .fc-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    h2 {
      font-size: 16px;
      font-weight: 500;
    }
  }
}
