#wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

p {
  margin-bottom: 0;
}

ul {
  margin: 0;
  list-style: none;
}

body {
  line-height: 1;
  font-weight: 500;
}

a {
  color: transparent;
  background-color: transparent;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
