body {
  line-height: 1;
  font-weight: 500;
}

#wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

/* オブジェクトの構造（structure） */
header {
  padding: 8px 0 50px 0;
}

h1, h2, p {
  margin-bottom: 0;
}

ul {
  margin: 0;
  list-style: none;
}

a:hover {
  text-decoration: none;
}
