/* オブジェクトの構造（structure） */
.btn-event-structure {
  // position: absolute;
  display: block;
  font-size: 1.1em;
  text-align: center;
  padding: 16px 0;
  border-radius: 0 0 10px 10px;
  bottom: 0;
  transition: all 0.3s ease 0s;

  &:hover {
   opacity: 0.6;
 }
}

/* オブジェクトの見た目（skin） */
.btn-event-skin {
  color: #fff;
  background-color: #e3165c;

  &:hover {
    color: #fff;
    background-color: #e3165c;
  }
}

/* オブジェクトの構造（structure） */
.btn-create-structure {
  display: inline-block;
  border: 1px solid #dcdfe6;
  text-align: center;
  padding: 11px 20px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 4px;
  transition: all 0.3s ease 0s;

  &:hover {
   opacity: 0.6;
 }
}
