/* 枠（container） */
.event-form {
  padding: 1rem 0;
}

/* オブジェクトを構成する要素（content） */
.form-label {
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
}

/* オブジェクトを構成する要素（content） */
.form-control {
  margin-bottom: 0.5rem;
}

/* オブジェクトを構成する要素（content） */
.form-text {
  font-size: 0.75rem;
  margin: 0 0.25rem;
}

/* オブジェクトを構成する要素（content） */
.form-disabled {
  margin-bottom: 2.5rem;
}
