/* オブジェクトの構造（structure） */
.logo {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 8px;
}

/* オブジェクトの構造（structure） */
.img-event {
  width: 100%;
  height: 90px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
