/* オブジェクトの見た目（skin） */
.link-home {
  color: #212529;

  &:hover {
   color: #212529;
  }
}

/* オブジェクトの構造（structure） */
.title-main {
  display: inline-block;
  vertical-align: middle;
}

/* 枠（container） */
.title-container {
  text-align: center;
  padding-bottom: 60px;
}

/* オブジェクトの構造（structure） */
.title-secondary {
  padding-bottom: 30px;
}

/* オブジェクトの構造（structure） */
.title-event {
  padding: 16px 16px 0 16px;
  font-size: 1.2em;
  font-weight: 700;
  // フォント
  // font-family: M PLUS Rounded\ 1c,sans-serif;
}
